<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="-1" />
</head>
<body>
	<h1> BII - generate report </h1>
	<form action="/report" method="POST">
		Email: <input type="text" name="email">
		Workgroup: <input type='text' name="wg">
		Comparison: <input type="text" name="comp">
		<input type="submit" value="Send">
	</form>

</body>

<head>
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="-1" />
</head>

</html>
