<!DOCTYPE html>
<html lang="en">
<head>

<meta http-equiv="Cache-Control" content="max-age=0, no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="-1" />


	<title>Berkeley Innovation Index: Create Report</title>

   
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/crep.css" rel="stylesheet">
</head>

<body>
	<div class="container">
		<div class="header">
        	<h3 class="text-muted">Berkeley Innovation Index: Report Generator</h3>
        </div>
	<div class="jumbotron">
	<form action="/report" method="POST" class="form-signin">
		<input type="text" name="email" class="form-control" placeholder="Email Address" required autofocus>
		<input type='text' name="part" class="form-control" placeholder="PARTNER CODE">
		<input type='text' name="proj" class="form-control" placeholder="PROJECT CODE">
		<select type="text" name="comp" class="form-control">
			<option value=" ">No comparison</option>
  			<option value="all">All</option>
  			<option value="male">Male</option>
  			<option value="female">Female</option>
  			<option value="study1">Engineering</option>
  			<option value="study2">Managers</option>
  			<option value="study3">Arts/Humanitarian</option>
  			<!--<option value="BM-BC-2016S">BM-BC-2016S</option>
  			<option value="GVL2016">GV2016</option>
  			<option value="JMU-LS16">JMU-LS16</option>-->
		</select>	
		<input type="submit" value="Create Report" class="btn btn-lg btn-primary btn-block">
	</form>
	</div>
	</div>
</body>


<head>
<meta http-equiv="Cache-Control" content="max-age=0, no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="-1" />
</head>
</html>
